#temp dirs
.vs
.cache
.settings
.vscode
.ipynb_checkpoints

**/compile_commands.json


#interm files
out
aarch64le-debug
x86_64
build
package
docs
version.py
*.egg-info
lib/
*_defs.h
python*_pkg.cpp
*.log
images
docker/**/qnn 
docker/**/calib_imgs
docker/**/context_cache
docker/**/converted_model

#binaries
*.png
*.jpg
*.jpeg
*.mp4
*.pth
*.pyc
*.onnx
*.optai
*.whl
*.so
*.engine
*.zip
*.swp
*.exe
*.pyd
*.mp4
*.tgz
onnx_visualizer/test/results/
*.onnx
downloads/
ONNX/
ncnn_backend
# netron sources
netron/
onnx_visualizer/test/*.json
models/
model-artifacts/
dataset_calib/
am68a/
outputs/
*.tar.gz
tidl_tools/
wip/mae_log_E_25011400.csv
wip/mae_log_E_25011400.txt
wip/proto_res/Model_E_exp25011400.prototxt
wip/temp_log.txt
*.trt
log_test_convert.txt
log_test_infer.txt
